<div class="holder">
  <h1>Hello there, I am Buti.</h1>
  <h2>I work as front-end developer & <span class="what" id="qualities">I make html and css sites.</span>

  <p>
    I am currently working for <a href="https://www.bemate.com" class="link" title="Be Mate">Be Mate</a>.
    <br>
    You can get a sample of my code at  <a href="https://github.com/nobuti" class="link" title="github">https://github.com/nobuti</a> and <a href="http://codepen.io/nobuti" class="link" title="codepen">http://codepen.io/nobuti</a>
    <br>
    I am available for small/medium sized projects. <a href="mailto:buti@nobuti.com" class="link" title="hire me">Let's talk.</a>
  </p>
</div>

<script src="<%= "#{ js_path 'main.js'}" %>"></script>
