.holder
  h1 
    | Hello there, I am Buti.
  h2 
    | I work as front-end developer & 
    a.what id="qualities" href="http://nicemondays.com" I make html and css sites.

  p 
    | I am currently working for 
    a.link href="http://nicemondays.com" title="nicemondays" nicemondays.
    br
    | You can get a sample of my code at 
    a.link href="https://github.com/nobuti" title="github" https://github.com/nobuti
    br
    | I am available for small/medium sized projects. 
    a.link href="mailto:buti@nobuti.com" title="hire me" Let's talk

== script_tag "main"