{% extends "layout/application.html" %}

{% block maincontent %}
<h1>Hello there, I am Buti.</h1>

<h2>I work as a frontend developer at fun projects. I like vanilla javascript flavour. I prefer SASS over LESS. I think testing is important. Standards are in my baseline. I am addicted to chocolate. I am seeking to learning something new every day. Inspire and be inspired.</h2>

<p>I am currently working for <a href="https://www.carto.com" title="Carto">Carto</a>.</p>

<p>You can get a sample of my code at:  <a href="https://github.com/nobuti" class="u-Block" title="github">https://github.com/nobuti</a></p>

<p>I am available for small/medium sized projects. <a href="mailto:buti@nobuti.com" class="u-Block" title="hire me">Let's talk.</a></p>

{% endblock %}
