<div class="resume" role="main">
  <div class="me">
    <hgroup>
      <h1>Miguel Romero Portero</h1>
      <h2>Frontend developer</h2>
    </hgroup>
  </div>
  <div class="cv">
    <div class="contact">
      <span class="divider"></span>
      <address>
        <a href="mailto:buti@nobuti.com">buti@nobuti.com</a>
        <br>
        <em class="less">+34 615125066</em>
      </address>
      <p>
        <a href="http://nobuti.com">http://nobuti.com</a>
      </p>
      <span class="divider"></span>
      <p>
        Working at<br><a href="https://www.bemate.com">https://www.bemate.com</a>
      </p>
      <span class="divider"></span>
    </div>

    <div class="skills">
      <span class="divider conditional"></span>
      <p>
        As a creative web developer with a strong technological foundation, I have demonstrated success in inventive problem solving. My resourcefulness and ability to learn quickly benefits my teammates and I thrive in collaborative environments. I have a passion for researching the latest trends, excel in their implementation, and love to create compelling web sites and user experiences.
      </p>
      <span class="divider mini"></span>

      <h3>I am seeking to</h3>
      <p>
        join a badass team as a frontend developer at fun projects. Learning something new every day. Inspire and be inspired.<em>Be happy.</em>
      </p>
      <span class="divider mini"></span>
      <p>
        <strong>I have led projects for companies like</strong>
      </p>
      <p>
        Roca, Carolina Herrera, Basf, Philips, Volkswagen, MSF, Springfield...
      </p>
      <span class="divider mini"></span>

      <h3>My abilities include</h3>
      <p>
        thinking in code, front programming, but I am also skilled in backend development.
      </p>
      <p>
        You can get a sample of my code at <a href="https://github.com/nobuti" title="github">https://github.com/nobuti</a> <a href="http://codepen.io/nobuti" title="codepen">http://codepen.io/nobuti</a>
      </p>
      <span class="divider mini"></span>

      <h3>I am proficient in</h3>
      <p>
        Frontend development, including HTML, CSS, SASS, Javascript, Sublime Text and Git. I am in the process of learning Ruby and improving my coding's skills. Jam&cheese sandwiches. My highest underwater score is 2.15 min.
      </p>
      <span class="divider"></span>
    </div>

    <div class="experience">
      <span class="divider conditional"></span>

      <h3>Creative Programmer</h3>
      <p>
        Ingenia Gen8020<br><em>2002-2007</em>
      </p>
      <p>
        An internship turned into my first full time programmer position. Responsibilities included developing interactive interfaces for corporate websites, web applications and online tools, mainly with Adobe Flash and actionscript, but also HTML/CSS/JS websites.
      </p>

      <span class="divider mini"></span>

      <h3>Interactive Director</h3>
      <p>
        Ingenia Gen8020<br><em>2007-2009</em>
      </p>
      <p>
        Promoted to led projects marking the interactive path in base to clients needs.
      </p>

      <span class="divider mini"></span>

      <h3>Freelance</h3>
      <p>
        Nicemondays<br><em>2009-2013</em>
      </p>
      <p>
        We worked for agencies, our business was to make things easier for them. We came from very nice agencies but we knew how hard life is sometimes. We helped creating whatever the client thought could happen on a screen, from a simple banner design to a robust backend development.
      </p>
      <span class="divider"></span>

      <h3>Frontend</h3>
      <p>
        BeBanjo<br><em>2013-2105</em>
      </p>
      <p>
        In BeBanjo we created the world's best tools for teams managing on-demand services. As a frontend I took care of developing the interface of our products: Movida, Sequence and Metadata. Providing a good user experience was one of my main function.
      </p>
      <span class="divider"></span>

      <h3>Frontend Developer</h3>
      <p>
        SocialBro<br><em>2015 (January - April)</em>
      </p>
      <p>
        The #1 marketing platform for Twitter. As a frontend I developed some interface components data based for the user. And help to architecture all the frontend.
      </p>
      <span class="divider"></span>

      <h3>Frontend Developer</h3>
      <p>
        Be Mate<br><em>2015 - 2016 (May)</em>
      </p>
      <p>
        Online platform where you can find holiday apartments, offering a full range of on-demand services, designed to make your stay easier and maximise your enjoyment. I lead the frontend, making the performance a first class citizen in our app.
      </p>
      <span class="divider"></span>

      <h3>Frontend Engineer</h3>
      <p>
        Carto<br><em>2016 (May) - Today</em>
      </p>
      <p>
        CARTO is the platform for turning location data into business outcomes. As part of the Builder team, I contribute writing code for the UI of the web application, using good testing practices and participating in technical decisions.
      </p>
      <span class="divider"></span>
    </div>
  </div>
</div>
