.resume role="main"
    .me
        hrgroup
            h1 Miguel Romero Portero
            h2 Frontend developer
    .cv
        .contact
            span.divider
            address
              a href="mailto:buti@nobuti.com" buti@nobuti.com</a>
              br
              em.less +34 615125066
            p
                a href="http://nobuti.com" http://nobuti.com
                br
                a href="http://nicemondays.com" http://nicemondays.com
            span.divider
            p
                | Working at 
                br
                a href="http://bebanjo.com" http://bebanjo.com
            span.divider
            
        .skills
            span.divider.conditional
            p
                | As a creative web developer with a strong technological foundation, I have demonstrated success in inventive problem solving. My resourcefulness and ability to learn quickly benefits my teammates and I thrive in collaborative environments. I have a passion for researching the latest trends, excel in their implementation, and love to create compelling web sites and user experiences.
            span.divider.mini

            h3 I am seeking to
            p
                | join a badass team as a frontend developer at fun projects. Learning something new every day. Inspire and be inspired. 
                em Be happy.
            span.divider.mini
            p
                strong I have led projects for companies like
            p 
                | Roca, Carolina Herrera, Basf, Philips, Volkswagen, MSF, Springfield...
            span.divider.mini
            
            h3 My abilities include
            p thinking in code, front programming, but I am also skilled in backend development.
            p 
                | You can get a sample of my code at 
                a href="https://github.com/nobuti" title="github" https://github.com/nobuti 
                a href="http://codepen.io/nobuti" title="codepen" http://codepen.io/nobuti 
            span.divider.mini
            
            h3 I am proficient in
            p 
                | Frontend development, including HTML, CSS, SASS, Javascript, Sublime Text and Git. I am in the process of learning Ruby and improving my coding's skills. Jam&cheese sandwiches. My highest underwater score is 2.15 min.
            span.divider
        .experience
            span.divider.conditional

            h3 Creative Programmer
            p 
                | Ingenia Gen8020 
                br
                em 2002-2007
            p 
                | An internship turned into my first full time programmer position. 
                | Responsibilities included developing interactive interfaces for corporate websites, web applications and online tools, mainly with Adobe Flash and actionscript, but also HTML/CSS/JS websites.
            span.divider.mini

            h3 Interactive Director
            p
                | Ingenia Gen8020 
                br
                em 2007-2009
            p
                | Promoted to led projects marking the interactive path in base to clients needs.
            span.divider.mini

            h3 Freelance
            p 
                | Nicemondays 
                br
                em 2009-2013
            p 
                | We work for agencies, our business is to make things easier for them. 
                | We come from very nice agencies but we know how hard life is sometimes.
                | We can help creating whatever you think could happen on a screen, from a simple banner design to a robust backend development.
            span.divider

            h3 Frontend
            p 
                | BeBanjo 
                br
                em 2013-Today
            p 
                | In BeBanjo we create the world's best tools for teams managing on-demand services. 
                | As a frontend I take care of develop the interface of our products: Movida, Sequence and Metadata. 
                | Providing a good user experience is one of my main function. 
            span.divider
          